@media screen and (min-width: 340px){
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 340px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
/*/////////////////*/

/*=================== HEADER =============*/

.headerContainer{
  display: flex;
  align-items: center;
  padding: 10px 0 ;
}
.navigation{
  display: flex;
  align-items: baseline;
}
.navlink{
  margin-right: 5px;
}
.navBtn{
  border: none;
}

.iconHeader{
  width: 25px;
  height: 25px;
}
.nameText{
  font-size: 15px;
  font-weight: bold;
  margin-left: auto;
}
.contactsList{
  display: flex;
  align-items: baseline;
  margin-left: auto;
}
.contactsList a{
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.7);
}
.contactWrapper{
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contactWrapper a{
  width: 25px;
  height: 25px;
}

/*=================== MAIN =============*/

