.overlay{
  position: relative;
  padding: 150px 20px;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 110;
  background-color: rgba(0, 0, 0, 0.68);
}
.navWrapper{
display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}


.navItem{
  border: 3px solid black;
  transition: 0.3s;
  width: 150px;
}
@media (min-width: 768px) {
  .navItem{
    width: 250px;
  }
}

@media (min-width: 1245px) {
  .navItem{
    width: 350px;
  }
}
.navItem:hover{
  border: 3px solid white;
  transform: scale(0.95);
  transition: 0.3s;
}
.closeBtn{
  position: absolute;
  right: 50%;
  transform: translateX(50%) ;
  top: 10%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 1245px) {
  .closeBtn{
    position: absolute;
    right: 50%;
    transform: translateX(50%) ;
    top: 5%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
  }
}
