@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,medium,black&subset=latin,latin-ext');
@import-normalize; /* bring in normalize.css styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}
p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: 'Montserrat',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(238, 238, 238);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
section{
  padding: 30px 0;
}
@media (min-width: 1245px) {
  section{
    padding: 40px 0;
  }
}


